@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap);
@font-face {
  font-family: IconFont;
  font-display: swap;
  src: url(../fonts/IconFont.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=icon-]::before {
  font-family: IconFont;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.icon-arrow:before {
  content: "a"
}
.icon-calendar:before {
  content: "b"
}
.icon-facebook:before {
  content: "c"
}
.icon-linkedin:before {
  content: "d"
}
.icon-twitter:before {
  content: "e"
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #00abf0;
  line-height: 1;
  font-family: Poppins;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Poppins;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header--setup {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  padding: 2em 8%
}
.header__container {
  display: flex;
  -webkit-column-gap: 1.25em;
  -moz-column-gap: 1.25em;
  column-gap: 1.25em;
  align-items: center;
  justify-content: space-between
}
.menu-block {
  font-size: 1.5rem;
  font-weight: 500
}
.menu-block__list {
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 1.25em;
  -moz-column-gap: 1.25em;
  column-gap: 1.25em;
  align-items: center;
  justify-content: center
}
.menu-block__item {
  transition: color .3s ease-in-out
}
body {
  background: #081b29;
  color: #ededed
}
.hero__container {
  display: grid;
  -webkit-column-gap: 1.875em;
  -moz-column-gap: 1.875em;
  column-gap: 1.875em;
  grid-template-columns: repeat(2,1fr);
  height: 100vh;
  align-items: center
}
.hero__content {
  display: flex;
  flex-direction: column
}
.hero__poster-wrap {
  overflow: hidden;
  display: block;
  aspect-ratio: 800/983;
  position: relative
}
.hero__poster-wrap::before {
  transition: all 1.25s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.hero__poster-wrap:hover::before {
  background-color: #081b29;
  opacity: .9
}
.hero__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.content__text:not(:last-child) {
  margin-bottom: 3.125em
}
.content__links-box {
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 1.875em;
  -moz-column-gap: 1.875em;
  column-gap: 1.875em;
  row-gap: 1.25em;
  align-items: center
}
.content__links-box:not(:last-child) {
  margin-bottom: 3.125em
}
.content__social-list {
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 1.875em;
  -moz-column-gap: 1.875em;
  column-gap: 1.875em;
  font-family: IconFont;
  font-size: 1.375rem;
  color: #00abf0
}
.text-box__title {
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 1.3
}
.text-box__title:not(:last-child) {
  margin-bottom: 1.5625rem
}
.text-box__animation:not(:last-child) {
  margin-bottom: 1.25rem
}
.text-box__specialization {
  font-size: 3.125rem;
  line-height: 1.1;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: .04375rem #00abf0
}
.text-box__paragraph {
  font-size: 1.375rem;
  line-height: 1.6
}
.text-box__paragraph:not(:last-child) {
  margin-bottom: 1.25em
}
.text-box__paragraph p:not(:last-child) {
  margin-bottom: .625em
}
.links-box__link-jump {
  position: relative;
  padding: .9375em 2.5em;
  border: .125em solid #00abf0;
  border-radius: .75em;
  font-size: 1.125em;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: capitalize;
  z-index: 1;
  overflow: hidden;
  transition: color .4s ease-in-out
}
.links-box__link-jump:nth-child(1) {
  color: #081b29
}
.links-box__link-jump:nth-child(2) {
  color: #ededed
}
.links-box__link-jump:nth-child(1)::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 110%;
  height: 110%;
  background-color: #00abf0;
  transition: width .4s ease-in-out;
  z-index: -1
}
.links-box__link-jump:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 110%;
  background-color: #00abf0;
  transition: width .4s ease-in-out;
  z-index: -1
}
.social-list__link-social {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  border: .125em solid #00abf0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
  transition: all .4s ease-in-out;
  overflow: hidden
}
.social-list__link-social::before {
  transition: all .4s ease-in-out;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00abf0;
  z-index: -1
}
.social-list__link-social:hover {
  color: #081b29
}
.social-list__link-social:hover::before {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
@media (any-hover:hover) {
  .menu-block__item {
    cursor: pointer
  }
  .menu-block__item:hover {
    color: #00abf0
  }
  .links-box__link-jump {
    cursor: pointer
  }
  .links-box__link-jump:nth-child(1):hover {
    color: #ededed
  }
  .links-box__link-jump {
    cursor: pointer
  }
  .links-box__link-jump:nth-child(2):hover {
    color: #081b29
  }
  .links-box__link-jump {
    cursor: pointer
  }
  .links-box__link-jump:nth-child(1):hover::before {
    width: 0
  }
  .links-box__link-jump {
    cursor: pointer
  }
  .links-box__link-jump:nth-child(2):hover::before {
    width: 110%
  }
}